.challenge-card{
    background-color: #414141;
    box-shadow: 0px 5px 4px rgba(52, 51, 51, 0.5);
    cursor: pointer;
    transition: .2s all;
}

.challenges-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.challenge-card:hover{
    background-color: #4b4b4b;
    box-shadow: 0px 5px 10px rgba(52, 51, 51, 0.8);
}

.link-no-style{
    text-decoration: none;
}

.point-container{
    display: flex;
    align-items: center;
}
